<% include header %>
<a href="/profile"> < back</a> | <a href="/logout">Logout</a>
<br><br>
<table cellpadding="10">
<tr><td align="right"><b>Title:</b></td><td><%= title %></td></tr>
<tr><td align="right"><b>Content:</b></td><td><%= content %></td></tr>
</table>

<% include footer %>